h1{
    color: brown;
    background-color: aquamarine;
    margin: 5px;
    padding-left: 5px;
    text-align: center;
    
}
#id{
    border: 2px solid;
}
#rose{
    color: brown;
    font-size: 2rem;
    margin: 20px solid;
    padding: 20px;
    background-color: rgb(176, 228, 211);
}

#jasmin{
    color: green;
    font-size:2rem ;
    padding: 20px;
    background-color: beige;
    margin: 20px;
}
#daisy{
    color: rgb(111, 160, 14);
    font-size: 40px;
    background-color: rgb(243, 219, 227);
    margin: 40px;

}
#lily{
    color: palevioletred;
    background-color: aliceblue;
    font-size: 30px;
}
#tulip{
    background-color: mediumvioletred;
    font-size: xx-large;
    color: rgb(11, 211, 41);
    margin: 20px;
}
